<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    
    <span class="weight-amount">{{format_amount needed_tolose}}</span>
    plan to lose
  </p>
  <p>
    <button class="btn btn-primary">Commit today</button>
  </p>
</div>
