
{{#each goals as |goal| }}
<div class="row mb-4 goal">
  <div class="col-md-5">
    <h2>
     
      {{{get_emoji}}}
      <a href="/goal/{{goal.id}}">{{goal.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label=""></span>
      
      <span class="weightloss-amount">{{format_amount goal.needed_funding}}</span>
      amount to lose
    </p>
    <p>Created by {{goal.user.name}} on {{format_date goal.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{goal.description}}
    </p>
  </div>
</div>
{{/each}}
